.animate-in-view,
.animate-in-view > * {
    opacity: 1 !important;
    transform: translateX(0) !important;
    transition-duration: 1.3s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
